#CSS is the background picture 
body {
  margin: 0;
}

#bridge {
  display: block;
  margin: 0 auto;
  background-image: url("https://s3.amazonaws.com/lettersdrew/Base+letters/Cond1_A.png");
  background-image: -webkit-image-set(url("https://s3.amazonaws.com/lettersdrew/Base+letters/Cond1_A.png") 1x, url("https://s3.amazonaws.com/lettersdrew/Base+letters/D6.png") 2x);
  background-size: cover;
  width: 100%;
  max-width: 750px;
  height: auto;
  cursor: crosshair;
  cursor: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/circular-cursor.png) 53 53, crosshair;
}

#bridgeContainer {
  text-align: center;
  font-family: Avenir, sans-serif;
}

#bridgeContainer figcaption {
  margin-top: 2rem;
}
